.body {
    height: 100%;
    width: 100%;
    background-color: #5D917D;
    color: #E6D4A7;
    overflow-y: scroll;
}

a:link {
    text-decoration: none;
    color: #5D917D;
}

a:visited {
    text-decoration: none;
    color: #5D917D;
}

a:hover {
    text-decoration: none;
    color: #A8AD80;
}

a:active {
    text-decoration: none;
    color: #A8AD80;
}

.view-size {
    /*width: 85%;*/
    height: 100%;
    left: 0;
    /*margin-left: -25px;*/
    position: absolute;
    margin: 0px;
    padding: 0;
}

.full-size {
    width: 100%;
    height: 100%;
}

/***** Home Page *****/
.main-content-lg {
    width: 50%;
    height: 50%;
    text-align: center;
    bottom: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.background-main {
    background-attachment: fixed;
    overflow: hidden;
    background: url("../images/shovel.jpg") no-repeat top left;
    background-size: cover;
    position: absolute;
}

/***** End Home *****/

/***** Navbar Section *****/
.nav-size {
    /*width: 15%;*/
    height: 100%
}

.nav-block {
    background-position: top;
    background-attachment: fixed;
    min-width: 250px;
    /*overflow: hidden;*/
    /*background-size: auto 100%;*/
    position: fixed;
    right: 0;
    background-color: #36362C;
    text-align: right;
    padding: 3%;
}

.nav-link {
    font-size: 2em;
    border-bottom: 2px solid;
    text-decoration: none;
    padding: 15% 3% 3% 3%;

}

.nav-footer {
    bottom: 5%;
    right: 3%;
    position: fixed;
}

/***** Navbar End *****/

/***** Portfolio View *****/
.background-portfolio {
    background: #5D917D;
    color: #36362C;
    height: 100%;
}

.portfolio-content-lg {
    width: 400px;
    height: 700px;
    position: relative;
    top: 25%;
    margin: 0 0 6% 6%;
    -ms-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    overflow-y: visible;
}

.project-img {
    width: 150px;
    height: 150px;
    position: relative;
    right: -100px;
    z-index: 5;
}

.char-base {
    height: 100px;
    width: 150px;
    border-radius: 100%;
    z-index: 1;
    opacity: 1;
    margin: -65px auto 180px auto;
    -webkit-animation: pulsate 2s infinite alternate;
    -moz-animation: pulsate 2s infinite alternate;
    -animation: pulsate 2s infinite alternate;
    background-color: blue;
}

@-webkit-keyframes pulsate {
    from {
        opacity: .1;
    }
    to {
        opacity: .3;
    }
}

@-moz-keyframes pulsate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulsate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.playa-base {
    box-shadow: 0 10px 30px 0 darkgreen,
    0 20px 40px 0 green,
    0 30px 50px 0 silver;
}

.health-bar-text {
    margin: 3px 0 0 0;
    position: relative;
    color: #000000;
    min-width: 150px;
    height: inherit;
    white-space: nowrap;
    font-size: 2em;
    overflow: hidden;
}

.progress {
    height: 1.5em;
    margin-bottom: 5px;
    margin-top: -15px;
    overflow: hidden;
    background-color: #959595;
    border-radius: 15px;
    /*-webkit-box-shadow:*/
    /*0 10px 10px -10px silver,*/
    /*0 20px 20px -8px blue,*/
    /*0 30px 30px -6px black;*/
    border: 8px ridge silver;
}

.recipe {
    background: url('../images/pulled_pork.jpg') no-repeat center center;
    /*height: 150px;*/
    /*width: 150px;*/
    overflow: hidden;
}

.recipe:hover {
    opacity: 0.9;
    background-size: auto 110%;
    box-shadow: #D96205 1px;
    transition: 0.25s;
}

.payroll-login {
    margin: 15px auto 25px auto;
    width: 335px;
    background: #C1E1ED
}

/***** End Portfolio *****/

/********* Skills ********/
.icon {
    height: 75px;
    width: 75px;
    margin: 5px;
}

.food {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%, rgba(255, 255, 255, 0.7)),
        color-stop(50%, rgba(255, 255, 255, 0.7))),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%),
        url(../images/Recipe-landing-page.jpg) no-repeat center center;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.web-dev {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 5%),
        url(../images/code-img.png) no-repeat center center;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 5%),
        url(../images/code-img.png) no-repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%, rgba(255, 255, 255, 0.7)),
        color-stop(5%, rgba(255, 255, 255, 0.7))),
        url(../images/code-img.png) no-repeat center center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 5%),
        url(../images/code-img.png) no-repeat center center;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 5%),
        url(../images/code-img.png) no-repeat center center;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 5%),
        url(../images/code-img.png) no-repeat center center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 5%),
        url(../images/code-img.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.bad-ass {
    background: url('../images/mustache.png') no-repeat top center;
    background-size: 50% auto;
    overflow: hidden;
}

.skill-list {
    margin: 5px auto 0 auto;
    text-align: left;
}

.font-color-dark {
    color: #36362C
}
/******End Skills ********/