<div class="background-image">
    <div class="container">

        <div class="header">
            <!--<ul class="nav nav-pills pull-right">-->
            <!--<li ng-class="{active: isActive('/portfolio')}"><a ng-href="#/portfolio">Portfolio</a></li>-->
            <!--<li ng-class="{active: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>-->
            <!--</ul>-->
            <h3 class="text-muted"><a ng-href="#">joshua brady</a></h3>
        </div>

        <h1>Placeholder for Contact</h1>
    </div>
</div>


<div class="jumbotron pull-right">
    <ul class="list-unstyled">
        <li>Joshua Brady</li>
        <li>brady.joshuar@gmail.com</li>
        <li>801.750.5172</li>
    </ul>
</div>