<div class="background-portfolio full-size container col-md-12">

    <!-- Kenji's Quest -->
    <div class="portfolio-content-lg panel col-lg-3 col-md-6 col-sm-12 col-xs-12 animated-1 zoomInUp">
        <h3 class="panel-heading">
            Kenji's Quest
        </h3>

        <div class="panel-body">
            <img class="project-img" src="images/kenji.png"/>

            <div class="char-base playa-base"></div>

            <div class="panel-footer">
                <p>A web app built as a companion to the pen-and-paper game Kenji's Quest. The game is soon to be seen
                    on
                    Kickstarter and as a competitor in Utah Game Wars.</p>

                <p>My contributions include the responsive design and front-end development of the main battle
                    view.</p>

                <a href="http://kenjisquest.com" target="_blank">
                    <button class="btn btn-primary pull-right">Website</button>
                </a>

                <a href="https://github.com/ccstevenson/KenjisQuestFrontend" target="_blank">
                    <button class="btn btn-warning pull-right">Code</button>
                </a>
            </div>
        </div>
    </div>
    <!-- End Kenji -->

    <!-- Business Management Interface -->
    <div class="portfolio-content-lg panel col-lg-3 col-md-6 col-sm-12 col-xs-12 animated-1 zoomInDown">
        <h3 class="panel-heading">
            Business Management Interface
        </h3>

        <div class="panel-body">

            <div>

                <div class="row col-lg-12">
                    <h3 class="page-header biz-heading">
                        Payroll
                        <a class="btn btn-md btn-success">Setup</a>
                    </h3>
                </div>

            </div>
            <!--------------------------------------------------->
            <div class="row">


                <!---------------- Payroll Login -------------------->
                <div class="col-xs-3">
                    <div class="payroll-login login-panel panel panel-default">
                        <div class="panel-heading"><strong>Payroll System Login</strong></div>
                        <div class="panel-body">
                            <form role="form">

                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="username"
                                           autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password"
                                           value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Login
                                    </label>
                                </div>
                            </form>
                            <a class="btn btn-md btn-info right-btn pull-right">Login</a>

                        </div>
                    </div>
                </div>
                <!-------------------------------------------------->
            </div>

            <div class="panel-body">
                <p>A proof-of-concept for a SaaS tool designed to help small-business owners and startups get their
                    businesses up off the ground and running.</p>

                <p>My contributions include all of the design and front-end development.</p>

                <!--<a href="" target="_blank">-->
                <!--<button class="btn btn-primary pull-right">Website</button>-->
                <!--</a>-->

                <a href="https://github.com/Nate-McNeil/BizManage/tree/master/frontend" target="_blank">
                    <button class="btn btn-warning pull-right">Code</button>
                </a>
            </div>
        </div>

    </div>
    <!-- End BMI -->

    <!-- Super Sous Chef -->
    <div class="portfolio-content-lg panel col-lg-3 col-md-6 col-sm-12 col-xs-12 animated-2 zoomInRight">

        <h3 class="panel-heading">
            Super Sous Chef
        </h3>

        <div class="panel-body">
            <div class="jumbotron recipe">
                <br/>

                <div class="well transparent">
                    <div>
                        <h2><strong>Pulled Pork</strong></h2>
                    </div>
                </div>
                <div class="well transparent">
                    <em><strong>Sweet, spicy and smokey. The perfect combination.</strong></em>
                </div>
                <br>
            </div>
            <div class="panel-body">
                <p>A work-in-progress for a recipe organizer web-app. The project was started as an opportunity to play
                    with angular-animate. Currently working on full CRUD functionality for recipes.</p>

                <p>This is a solo project so all contributions are my own.</p>

                <a href="http://supersouschef.com" target="_blank">
                    <button class="btn btn-primary pull-right">Website</button>
                </a>
                <a href="https://github.com/JoshuaRBrady/recipe_organizer" target="_blank">
                    <button class="btn btn-warning pull-right">Code</button>
                </a>
            </div>
        </div>

    </div>
    <!-- End Super Sous Chef -->

</div>