<div class="full-size animated fadeIn">


    <div id="myCarousel" class="carousel slide full-size" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>

        <div class="carousel-inner full-size">

                <div class="item web-dev active">


                    <div class="carousel-caption font-color-dark vert-center">
                        <h1>Web Development</h1>

                        <p>Making art and doing puzzles all day.</p>

                        <p>Best.</p>

                        <p>Job.</p>

                        <p>Ever.</p>
                        <ul class="list-unstyled">
                            <li class="col-md-1"></li>
                            <a href="http://en.wikipedia.org/wiki/HTML5" target="_blank">
                                <li class="col-md-2"><img src="images/HTML5-Icon.png" class="icon"/></li>
                            </a>
                            <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3" target="_blank">
                                <li class="col-md-2"><img src="images/CSS3-Icon.png" class="icon"/></li>
                            </a>
                            <a href="https://angularjs.org/" target="_blank">
                                <li class="col-md-2"><img src="images/AngularJS-Icon.png" class="icon"/></li>
                            </a>
                            <a href="https://www.python.org/" target="_blank">
                                <li class="col-md-2"><img src="images/Python-Icon.png" class="icon"/></li>
                            </a>
                            <a href="http://en.wikipedia.org/wiki/Django_(web_framework)" target="_blank">
                                <li class="col-md-2"><img src="images/django-icon.png" class="icon"/></li>
                            </a>
                            <li class="col-md-1"></li>
                        </ul>
                        <br/>
                    </div>

            </div>

            <div class="item food">

                <div class="container">
                    <div class="carousel-caption font-color-dark vert-center">
                        <h1>Culinary Artistry</h1>

                        <p>Trust me; you'll thank me at the next company potluck.</p>

                        <div class="col-md-4"></div>
                        <ul class="skill-list col-md-4">
                            <li><h4>Homegrown spice rubs.</h4></li>
                            <li><h4>Sweet and spicy pulled pork.</h4></li>
                            <li><h4>Award-winning chili.</h4></li>
                            <li><h4>Award-winning salsa.</h4></li>
                        </ul>
                        <div class="col-md-4"></div>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="item bad-ass col-md-10">

                <div class="container">
                    <div class="carousel-caption font-color-dark vert-center">

                        <h1>General Bad-assery</h1>

                        <p>Kicking butt and taking names (metaphorically speaking of course).</p>

                        <div class="col-md-4"></div>

                        <ul class="skill-list col-md-4">
                            <li><h4>Kung Fu 2nd degree brown belt.</h4></li>
                            <li><h4>3 years management experience.</h4></li>
                            <li><h4>Have not one but two sons. In your face King Henry the VIII.</h4></li>
                            <li><h4>10+ years providing top-tier customer experience.</h4></li>
                            <li><h4>Once watched Braveheart twice in one day.</h4></li>
                            <li><h4>Quality assurance and release management experience in an agile
                                environment.</h4></li>
                            <li><h4>Survived eating a level three spicy dish at Tea Rose Diner on more than one
                                occasion.</h4></li>
                        </ul>

                        <div class="col-md-4"></div>

                    </div>
                </div>

            </div>

        </div>

        <span class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </span>

        <span class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </span>

    </div>

</div>